#wrapper{
	position:relative;
	width: 100%;
	max-width: 960px;
	margin:0 auto;
	overflow:hidden;
	min-height:540px;
}

body {
	background-color:#303030;
	font-family: 'Lato', sans-serif;
}

#main{
	margin-top:150px;
	font-size:20px;
	color:#FFFFFF;
	text-align:center;
}

p #main{
	margin:0 auto;
}

#currentQuestion{
	margin:50px 0 auto;
	font-size:40px;
}

.input{
	width:400px;
	height:30px;
	margin-top:50px;
	background-color:#303030;
	color: #ffffff;
	font-size: 16px;
	border-radius: 4px;
	font-family: 'Lato', sans-serif;

}

#questionInput{
}

#currentAnswer{
}

#logo{
	position:relative;
	top:50px;
	left:30px;
	width:150px;
}

#pulseAnimation{
	width:1280px;
	height:400px;
	text-align: center;
	margin: 0 auto;
}

#history{
	max-width:500px;
	overflow: auto;
	max-height: 400px;	
	margin:0 auto; 
}

#history2{
	overflow:hidden;
	color: #ffffff;
}

#history2 div {
	width:100%;
	min-height:50px;
	overflow: hidden;
}

#historyQuestion p{
	float: left;
}


#historyAnswer p{
	float: right;
}

.capital{
	font-size:40px;
}

#history2 p:nth-child(2){
	margin-top: 60px;
}

.path {
  stroke-dasharray: 2000;
  -webkit-animation: dash 10s linear infinite;
  -moz-animation: dash 10s linear infinite;
  
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 9000;
  }
}

@-moz-keyframes dash {
  to {
    stroke-dashoffset: 9000;
  }
}

#downButton{
	width:80px;
	text-align: center;
	margin: 0 auto;
	display: block;
	margin-top: 30px;
}

a:hover{
	cursor: pointer;
};

#historyWrapper{
	width: 960px;
	margin: 0 auto;
	text-align: center;
}