<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>

<body>

  <div id="wrapper">
      <img src="assets/logo.jpg" id="logo">
      <div id="main">
        	<p>Ask and answer questions to keep the heart of the city alive.</p>
            <p id="currentQuestion">Where is the best place to go out on a Wednesday?</p>
            <input type="text" name="question" id="questionInput">
            <button id="submitQuestion">Ask This question</button>
            <form>
                <textarea type="text" name="answer" placeholder="Enter your answer to the current question" id="currentAnswer"></textarea>    <br>
            </form> 
            <button id="submitAnswer">Give Answer</button>
      </div>

      <div id="history">

      </div>
  </div>        
  <div>
  <div id="pulseAnimation">
  </div>


  <div class="history">
    <div class="topic">
      <ul>
        <li>Answer: 42</li>
      </ul>
    </div>
  </div>
    
</body>

</html>