<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>

<body>

  <div id="wrapper">
      <img src="assets/logo_final.png" id="logo">
      <div id="main">
        	<p>Ask and answer questions to keep the heart of the city alive.</p>
            <p id="currentQuestion">Where is the best place to go out on a Wednesday?</p>
            <div id="questionForm">
              <textarea type="text" name="question" placeholder="Enter your question" id="questionInput" class="input"></textarea><br>
              <button id="submitQuestion">Ask This question</button>
            </div>
            <div id="answerForm">
              <textarea type="text" name="answer" placeholder="Enter your answer to the current question" id="currentAnswer" class="input"></textarea>    <br>
              <button id="submitAnswer">Give Answer</button>
            </div>
      </div>

      
  </div>

  <a><img src="assets/down_button2.png" id="downButton"></a>
      
  <div id="historyWrapper">
    <div id="history">

    </div>
  </div>

  <div>
  <div id="pulseAnimation">
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="1280px" height="400px" viewBox="0 0 1280 400" enable-background="new 0 0 1280 400" xml:space="preserve">
    <g>
    <path class="path" fill="none" stroke="#29ECAD" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
      M-5.964,344h184.569c0,0,13.715,15.653,21.25-162.378c0,0,1.364-29.587-5.946-32.785c0,0-2.284-7.25,4.34-8.849l-0.761-12.461
      c0,0,3.045-5.59,9.137-6.81l2.436-24.433c0,0-5.482-3.109,0-8.591c0,0-5.482-2.913,12.183-9.004c0,0-2.75-9.69,4.412-9.69h2.289
      c7.162,0,4.411,9.681,4.411,9.681c17.665,6.091,12.183,10.096,12.183,10.096c5.482,5.482,0,8.023,0,8.023l2.436,24.123
      c6.092,1.22,9.138,6.601,9.138,6.601l-0.762,12.252c6.624,1.6,4.34,8.534,4.34,8.534c-7.309,3.198-5.946,33.329-5.946,33.329
      C261.281,359.67,274.996,344,274.996,344h74.924H365h42.036V63h32V49.37l-34-17.044v-6.713L449.945,44h1.37l42.721-18.387v6.713
      l-33,17.044V63h33v281h66.497h27.412h36.091v-66.204v-5.481l7.766-2.057l9.48-13.477l9.194,14.162l4.883,0.914l0.086,11.878
      l16.96-17.817l16.019,17.132l7.096,0.229l3.434-8.31L703.072,286h8.964v-97.747l-2-1.485v-18.616l17.929-7.994l19.071,6.852v19.417
      l-3,0.913V344h75.99h3.654h49.341h30.015v-70h11.045l13.507-70h1.352l13.775,70h3.321v18h87v53h41H1276"/>
</g>
</svg>
  </div>
    
</body>

</html>